@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap");

.do-hyeon-regular {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.black-han-sans-regular {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Do Hyeon", "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 스타일 */

.wrap {
  width: 100%;

  /* background-color: tomato; */

  transition: background-color 1s ease;
}

.section1 {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}

.myRoom {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  margin: 1.3em 1em;
  transition: opacity 0.5s ease; /* 투명도 변화 애니메이션 설정 */
}

.myRoom.hidden {
  opacity: 0; /* 숨김 상태로 설정 */
  pointer-events: none; /* 이벤트 비활성화 */
}

.myRoom img:first-child {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.myRoom > a {
  display: block;
}

.myRoom > a > img {
  position: absolute;
}

/* .phoneHover {
  position: absolute;
  width: 30%;
  top: 30%;
  left: -32%;
  display: none; 

  z-index: 10;
  max-width: 100%;
} */

.card {
  background-color: transparent;
  border: none;
}

.room,
.bike,
.phone,
.man,
.gamepad,
.card,
.cup,
.dog,
.board,
.clockImg {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.cupAtag {
  opacity: 0;
  visibility: hidden;
}

.cardHover,
.cupHover {
  position: absolute;
  width: 25%;
  top: 42%;
  right: 37%;
  display: none;
  z-index: 10;
  max-width: 100%;
}

.phoneAtag:hover,
.gamepad:hover,
.cardAtag:hover,
.cupAtag:hover,
.board:hover,
.clockAtag:hover {
  transform: scale(1.15);
  animation: none;
}

.bikeAtag:hover {
  transform: scale(1.1);
  animation: none;
}

.notebookAtag {
  max-width: 100%;
  width: 10%;
  height: auto;
  position: absolute;
  top: 37%;
  left: 30%;
  cursor: auto;
}

.bikeAtag {
  max-width: 100%;
  width: 25%;
  height: auto;
  position: absolute;
  top: 66%;
  left: 45%;
  cursor: pointer;
  display: none;
}

.bikeAtag > img {
  display: none;
}

.phoneAtag {
  max-width: 100%;
  width: 6%;
  height: auto;
  position: absolute;
  top: 56%;
  right: 14%;
  cursor: pointer;
}

.paperAtag {
  max-width: 100%;
  width: 9%;
  height: auto;
  position: absolute;
  top: 56%;
  left: 79%;

  display: none !important;
}

.gamepadAtag {
  max-width: 100%;
  width: 5%;
  height: auto;
  position: absolute;
  top: 71.5%;
  left: 33.5%;
  cursor: pointer;
}

.cardAtag {
  max-width: 100%;
  width: 5%;
  height: auto;
  position: absolute;
  top: 56.5%;
  left: 77.5%;
  cursor: pointer;
}

.dogAtag {
  max-width: 100%;
  width: 5%;
  height: auto;
  position: absolute;
  top: 58.5%;
  left: 53.5%;
  cursor: auto;
}

.boardAtag {
  max-width: 100%;
  width: 9%;
  height: auto;
  position: absolute;
  top: 36%;
  right: 5%;
  cursor: pointer;
}

.clockAtag {
  max-width: 100%;
  width: 5%;
  height: auto;
  position: absolute;
  top: 23%;
  left: 29%;
  cursor: pointer;
}

.cupAtag {
  max-width: 100%;
  width: 3%;
  height: auto;
  position: absolute;
  top: 53%;
  left: 81%;
  cursor: pointer;
}

.myRoom img:nth-child(6) {
  max-width: 100%;
  width: 9%;
  height: auto;
  position: absolute;
  top: 42%;
  left: 61%;
}

/* 애니메이션 */
@keyframes scale {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(0.7);
  }

  100% {
    filter: brightness(1);
  }
}

@keyframes scale2 {
  0% {
    filter: brightness(0.7);
  }

  50% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(0.7);
  }
}

.gamepadAtag,
.cupAtag,
.boardAtag {
  animation: scale 1.5s ease-in-out infinite;
}

.phone,
.bike,
.cardAtag,
.clockAtag {
  animation: scale2 1.5s ease-in-out infinite;
}

.myIntroduce {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.631);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
}

.myIntroduceContent {
  width: 50%;
  height: 740px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 340px;
}

.myIntroduceContent_xBox {
  text-align: end;
}

.xMark {
  font-size: 1.5em;

  margin: 0.5em;
  cursor: pointer;
}

.myIntroduceContent_titleBox {
  width: 100%;
}

.myIntroduceContent_titleBox > p {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  color: white;
}

.myIntroduceContent_textBox {
  width: 95%;
  height: 80%;
  margin: 0 auto;
  margin-top: 1em;
  border: 4px solid black;
  position: relative;
}

.textTopbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.7em;
}

.pictureBox {
  width: 120px;
  /* max-width: 20%; */
  height: 150px;

  background-image: url(../img/favicon.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0.5em;
}

.myInfoBox {
  /* flex-grow: 1; */
  /* background-color: red; */
  margin: 0.5em;
  margin-top: 0.3em;
  margin-left: 0;
  /* display: flex; */
  /* width: 100%; */
  height: 100%;
}

.myInfoBox p {
  text-align: start;
  margin: 0.8em 0;
  font-size: 1em;
  font-weight: bold;
}

.bottomBox {
  width: 100%;
  /* height: 300px; */
  /* background-color: blue; */
}

.bottomSkillBox {
  width: 100%;
  height: 400px;
  /* background-color: red; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0%;
}

/* #myBarChart {
  min-width: 320px;
} */

/* #myBarChart {
  max-width: 1000px;
  width: 80%; 

  margin: auto; 
} */

.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  flex-direction: column;
  color: white;
  padding-left: 20px;
  transition: all 0.5 ease;
  opacity: 1;
}

.text-box h1 {
  font-size: 4em;
  font-weight: bold;
  /* letter-spacing: -1.7px; */
}

.text-box p {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}

.mobile-text {
  text-align: center;
  display: none;
}

/* 섹션1 끝 */

/* 섹션2 시작 */
.section2 {
  width: 100%;
  height: auto;
  background-color: #f5efe6;
  position: relative;
  padding-bottom: 2em;
}

.section2-text-wrap {
  max-width: 1550px;
  margin: 0 auto;
  padding-left: 20px;
  padding-top: 2em;
}

.section2-title-box {
  display: flex;
  align-items: center;

  /* background-color: red; */
  width: 100%;
  height: 50px;
}

.section2-title-box h3 {
  color: tomato;
  margin-top: 2em;
  /* top: 50%; */
  /* transform: translateY(-50%); */
}

.section2-text-box p {
  font-size: 4em;
  font-weight: bold;
  margin-top: 0.5em;
  /* letter-spacing: -2px; */
}

.section2-text-box p:last-child {
  font-size: 3em;
}

.section2-swiper-box {
  overflow: hidden;
  margin-top: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-container {
  /* background-color: red; */
  height: 700px;
  width: 100%;

  box-sizing: border-box;
  position: relative;
}

.swiper-wrapper {
  height: 100%;
  margin-top: 2em;
  box-sizing: border-box;

  /* Swiper 슬라이드의 너비를 중앙에 맞추기 위해 추가적인 공간 조정 */
}

.swiper-slide {
  width: 320px;
  height: 500px;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  filter: brightness(0.8);
  transition: all 0.5s;
  box-sizing: border-box;
  /* border: 10px solid white; */
  cursor: pointer;
}

.swiper-slide a {
  pointer-events: none;
}

.swiper-slide-active {
  transform: scale(1.1) !important;
  filter: brightness(1);
  z-index: 10;
  cursor: pointer;
}

.swiper-slide.swiper-slide-active a {
  pointer-events: auto;
}

.swiper-img-box {
  /* width: 100%; */
  height: 60%;
  border-radius: 15px;
  /* background-color: tomato; */

  overflow: hidden;
  margin-bottom: 10px;
}

.swiper-img-box > img {
  width: 100%;
  height: 100%;
  /* position: absolute;
  top: -60px; */
  /* object-fit: contain; */
}

.swiper-text-box {
  width: 100%;
  height: 40%;
}

.project-title-box > p {
  color: rgb(37, 37, 37);
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 1.3em;
}

.project-skill-box {
  display: flex;
  gap: 5px;
  margin-bottom: 13px;
}

.project-coment-box > p {
  color: rgb(92, 92, 92);
  font-size: 0.9em;

  padding-bottom: 10px;
}

.html,
.css,
.jquery,
.react,
.js {
  width: 70px;
  height: 16px;
  padding: 0.5em;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.4em;
}

.html {
  background-color: rgb(78, 180, 78);
}
.css {
  background-color: #d2c878;
}
.jquery {
  background-color: #df9e9e;
}
.react {
  background-color: skyblue;
}
.js {
  background-color: tomato;
}

.swiper_btn_box {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  overflow: hidden;
  background-color: salmon;
  transition: all 0.5s;
}

.swiper-slide-active .swiper_btn_box:hover {
  background-color: rgb(248, 176, 168);
}

.swiper_btn_box > a {
  display: flex;
  width: 100%;
  height: 100%;
  /* padding: 10px 10px; */
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  color: white;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  width: fit-content;
  height: fit-content;
}

.swiper-button-prev {
  left: 45%;
  top: 90%;

  transform: translateX(-50%);
}

.swiper-button-next {
  left: 55%;
  top: 90%;
  transform: translateX(-50%);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  width: 0;
  height: 0;
}

.fa-circle-chevron-right,
.fa-circle-chevron-left {
  font-size: 2em;
  color: salmon;
}

/* 섹션2 끝 */

/* 섹션3 시작*/
.section3 {
  width: 100%;
  /* height: 100vh; */
  background-color: rgb(213, 198, 183);
  position: relative;
  padding-bottom: 5em;
}

.section3-content-box {
  display: flex;
  max-width: 1550px;
  margin: 0 auto;
  padding-left: 20px;
  padding-top: 2em;
}

.section3-content_left-box,
.section3-content_right-box {
  display: flex;
  flex: 1;
}

.section3-content_left-box {
  background-color: white;
  width: 100%;
  border-radius: 15px;
  flex: 2;
}

.section3-introduce-box {
  width: 100%;
}

.section3-item-box {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: start;
  background-color: rgb(245, 233, 221);
  margin: 25px;
  border-radius: 15px;

  /* font-family: "Pretendard Variable"; */
}

.section3-item-box > p {
  color: #555555;
  margin-bottom: 0;
}

.section3-tooltip-box {
  display: flex;
  gap: 20px;
  padding: 10px 40px;

  align-items: center;
  justify-content: end;
}

.custom-tooltip {
  background-color: white;
}

.section3-tooltip-box > p {
  font-size: 3em;
  text-align: end;
  color: rgb(245, 233, 221);
}

.section3-content_right-box {
  display: flex;
  align-items: end;
  justify-content: center;
}

.section3-content_img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}

.stand-man {
  width: 70%;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.section3-graph-box {
  width: 100%;
  height: 100%;
}

.section3-graph-box > #myChart2 {
  padding: 20px;
  width: 100% !important;
  height: 100% !important;
}
/* 섹션3 끝 */

/* 팝업 시작 */

/* 팝업 끝 */
/* 미디어쿼리  */
@media all and (max-width: 1023px) {
  .myIntroduceContent {
    height: 600px;
  }
  .pictureBox {
    width: 100px;

    height: 110px;
    margin: 0;
  }

  .myInfoBox {
    font-size: 0.7em;
    margin-top: 1em;
    /* background-color: red; */
  }

  .bottomSkillBox {
    height: 280px;
  }

  .section1 {
    flex-direction: column;
    margin-bottom: 5em;
  }

  .pc-text {
    display: none;
  }

  .section2-text-box > p:first-child {
    display: none;
  }

  .mobile-text {
    display: block;
    margin: 5px 0;
  }

  .text-box > .mobile-text {
    font-size: 3em;
  }

  .myRoom {
    transform: scale(0.95);
    margin: 0 1em;
  }

  .section2-text-wrap {
    padding-left: 0;
  }

  .text-box {
    padding-left: 0;
    margin-top: 1em;
  }

  .text-box p {
    text-align: center;
  }
  .section2-title-box > h3 {
    margin: 0 auto;
    padding-top: 1em;
  }

  .section2-text-box {
    text-align: center;
  }

  .section2-text-box > p {
    display: inline-block;

    text-align: start;
  }

  .textTopbox {
    flex-direction: column;
    padding-top: 0;
  }

  .myInfoBox p {
    font-size: 1em;
    margin: 0;
  }

  .section3-content-box {
    flex-direction: column;
    padding: 0 20px;
  }

  .section3-content_right-box {
    order: 1;
  }

  .stand-man {
    width: 30%;
  }
  .section3-content_left-box {
    flex-direction: column;
    order: 2;
  }
}

@media (max-width: 890px) {
  .section1 {
    height: auto;
  }
}

@media (max-width: 715px) {
  .section1 {
    height: auto;
    justify-content: baseline;
  }
}

/* 스케줄러 */
.wholeWrap {
  font-family: "Do Hyeon", "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  background-color: rgba(0, 0, 0, 0.631);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
@media (max-width: 715px) {
  .wholeWrap {
    height: 100vh;
  }
}

.scheduleWrap {
  display: flex;
  width: 1000px;
  justify-content: space-around;
  /* background-color: tomato; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 715px) {
  .scheduleWrap {
    max-width: 715px;
    width: 350px;

    min-width: 350px;
    flex-direction: column;
    align-items: center;
  }
}

.TodoListContainer {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 511px;
  display: none; /* 초기에는 숨김 */
  padding: 10px;
  margin-top: 10px;
}
@media (max-width: 715px) {
  .TodoListContainer {
    max-width: 715px;
    min-width: 330px;
    width: 330px;
    height: 211px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 16px;
}

@media (max-width: 715px) {
  .TodoListContainer h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .TodoListContainer h1 p {
    margin-bottom: 0;
    margin-left: 10px;
  }
}

#selected-date {
  font-weight: bold;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

#todo-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

@media (max-width: 715px) {
  #todo-input {
    padding: 5px;
    font-size: 10px;
    height: 30px;
  }
}

#add-button {
  padding: 10px 15px;
  background-color: skyblue;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
@media (max-width: 715px) {
  #add-button {
    padding: 5px;
    font-size: 10px;
    height: 30px;
    width: 80px;
  }
}

#add-button:hover {
  background-color: rgb(111, 182, 210);
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  overflow-y: scroll;
  height: 336px;
}

@media (max-width: 715px) {
  #todo-list {
    overflow-y: scroll;
    height: 100px;
  }
}

li {
  background-color: #f8f9fa;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #ddd;
  cursor: pointer;
}

@media (max-width: 715px) {
  li {
    font-size: 16px;
    padding: 5px;
    font-size: 10px;
    height: 30px;
  }
}

li.completed {
  color: rgba(0, 0, 0, 0.351);
}

li.completed span.completed-text {
  color: green;
  font-weight: bold;
  font-size: 16px;
  padding: 2px 0;
  margin-left: 10px;
  text-decoration: none !important;
}

button.delete {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.delete:hover {
  background-color: #c82333;
}

.calendarWrap {
  display: flex;
  justify-content: center;
  margin: 0 10px;
  margin-bottom: 20px;
  flex-direction: column;
  width: 350px;
  height: 511px;

  position: relative;
}
@media (max-width: 715px) {
  .calendarWrap {
    max-width: 715px;
    min-width: 350px;
    width: 350px;
    margin: 0 auto;
    height: 430px;
  }
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

button {
  background-color: skyblue;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(111, 182, 210);
}

h2 {
  text-align: center;
  margin: 0;
}

.calendar {
  border-collapse: collapse;
  width: 100%;
  max-width: 350px;
}

.calendar th,
.calendar td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  position: relative;
  background-color: #f8f9fa;
}

.calendar th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.calendar td {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: relative;
}

.calendar td::after {
  content: "0";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgba(255, 99, 71, 0.454);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}

.calendar td.has-todo::after {
  content: attr(data-todo-count);
  background-color: rgba(255, 99, 71, 0.454);
}

.calendar td.empty::after {
  opacity: 0;
}

.calendar td span {
  position: relative;
  font-size: 16px;
  top: -10px;
}

.calendar td:hover {
  background-color: #e2e6ea;
}

.calendar .empty {
  background-color: #f4f4f4;
}

.calendar td.selected {
  background-color: skyblue;
  color: white;
} /*# sourceMappingURL=sytle.css.map */

.scheduleWrap_xBox {
  position: absolute;

  top: 10px;
  left: 0;
  z-index: 10;
  color: white;
}

@media (max-width: 715px) {
  .scheduleWrap_xBox {
    top: -25px;
    left: 0;
  }
}

.scheduleXMark {
  cursor: pointer;

  font-size: 2em;
}

/* 게임 모달 */

.gameWrap {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.631);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

.gameContentsWrap {
  width: 1023px;
  height: 90vh;
  /* background-image: url(../img/05_backgound_img.png);
  background-position: center;
  background-repeat: no-repeat; */

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1023px) {
  .gameContentsWrap {
    width: 700px;
  }
}

.gameContentsWrap_xBox {
  position: absolute;
  top: 10px;
  right: 10px;
}

.gameContentsWrap_xBox > i {
  cursor: pointer;
  font-size: 2em;
  color: black;
}

.gamePosterWrap {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;

  display: flex;
  padding: 0 10px;
}

.gamePosterWrap > div {
  position: relative;
  width: calc(1382px / 4);
  height: 244px;
  background-color: skyblue;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
}

@media (max-width: 1023px) {
  .gamePosterWrap {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .gamePosterWrap > div {
    width: 250px;
    height: 250px;
    margin-top: 10px;
  }

  .gamePosterWrap > div:nth-child(2n) {
    margin-right: 0;
  }
}

.gamePosterWrap > div:last-child {
  margin-right: 0;
}

.tetrisPoster {
  background-image: url(../img/05_game_img1.png);
}

.shootingPoster {
  background-image: url(../img/05_game_img2.avif);
}

.imagePuzzlePoster {
  background-image: url(../img/05_game_img3.png);
}

.keyboardPoster {
  background-image: url(../img/05_game_img4.png);
  border: 1px solid salmon;
}

.tetrisGame,
.shootingGame,
.imagePuzzleGame,
.keyboardGame {
  width: 100%;
  height: 100%;

  display: none;
  position: absolute;
}

.shootingGame {
  background-color: red;
}

.imagePuzzleGame {
  background-color: yellow;
}

.keyboardGame {
  background-color: green;
}

.tetris_xBox,
.shooting_xBox,
.imagePuzzle_xBox,
.keyboard_xBox {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  color: white;
}

.tetris_xBox {
  top: 20px;
  right: 20px;
}

.tetrisXmark,
.shootingXmark,
.imagePuzzleXmark,
.keyboardXmark {
  cursor: pointer;
}

/* 테트리스 */

.tetrisContents {
  width: 100%;
  height: 100%;
  background-image: url(../img/00_backgound_img2.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#score-board {
  font-family: "Press Start 2P", cursive; /* 디지털 폰트 사용 */
  font-size: 24px; /* 폰트 크기 조정 */
  color: white; /* 텍스트 색상 */
  text-shadow: 1px 1px 2px black; /* 텍스트에 그림자 추가 */
  text-align: center;
  margin-bottom: 30px;
  padding-top: 30px;
}

#game-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  left: 55%;
  transform: translateX(-50%);
}

@media (max-width: 1023px) {
  #game-container {
    left: 57%;
  }
}

#tetris {
  border: 1px solid rgb(185, 185, 185);
  background-color: rgba(255, 255, 255, 0.51);
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
}

#next-block {
  border: 1px solid rgb(185, 185, 185);
  padding: 10px;
  width: 100px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.51);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#next-block > h3 {
  color: white;
}

#next-block canvas {
  display: block; /* 캔버스가 블록을 정확히 맞추도록 설정 */
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 10px;
}
#game-over {
  position: absolute;
  width: 320px;
  height: 300px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: none; /* 기본적으로 숨겨져 있도록 설정 */
  z-index: 10; /* 캔버스 위에 표시되도록 설정 */
}

#game-over img {
  position: absolute;
  width: 100%;
}

button {
  cursor: pointer;
  border: 2px solid transparent;
  background-color: transparent;
}

#start-button {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 184px;
}

#start-button img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#restart-button {
  position: absolute;

  width: 250px;
  height: 70px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* overflow: hidden; */
}

#restart-button img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 시계 관련 */

.clockWrap {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.631);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

.clockContentBox {
  width: 360px;
  height: 360px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;

  color: #9c9c9c;
  font-family: Arial, sans-serif;
}

.clock_xBox {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 2em;
}

.clock_xBox i {
  cursor: pointer;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
  border: 10px solid #9c9c9c;
  border-radius: 50%;
  background: #fff;
}

.hand {
  position: absolute;
  width: 50%;
  background: black;
  border-radius: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
}

.hour {
  height: 6px;
  top: 50%;
  width: 40%;
  left: 9.8%;
}

.minute {
  height: 4px;
  top: 50%;
}

.second {
  height: 2px;
  top: 50%;
  background: red;
}

.center {
  position: absolute;
  width: 14px;
  height: 14px;
  background: #9c9c9c;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #9c9c9c;
}

.number-12 {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.number-3 {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.number-6 {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.number-9 {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
