@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* 스타일 */

.wrap {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: tomato; */

  transition: background-color 1s ease;
}

.myRoom {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  margin: 0 1em;
}

.myRoom img:first-child {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.myRoom > a {
  display: block;
}

.myRoom > a > img {
  position: absolute;
}

/* .phoneHover {
  position: absolute;
  width: 30%;
  top: 30%;
  left: -32%;
  display: none; 

  z-index: 10;
  max-width: 100%;
} */

.bikeHover,
.paperHover,
.notebookHover,
.gamepadHover,
.phoneHover {
  position: absolute;
  width: 25%;
  top: 45%;
  right: 4%;
  display: none;
  z-index: 10;
  max-width: 100%;
}

.notebookAtag:hover .notebookHover {
  display: block; /* 또는 visibility: visible; */
}

.notebookAtag:hover,
.phoneAtag:hover,
.paperAtag:hover,
.gamepad:hover {
  transform: scale(1.15);
  animation: none;
}

.bikeAtag:hover {
  transform: scale(1.1);
  animation: none;
}

.notebookAtag {
  max-width: 100%;
  width: 10%;
  height: auto;
  position: absolute;
  top: 37%;
  left: 30%;
  cursor: pointer;
}

.bikeAtag {
  max-width: 100%;
  width: 25%;
  height: auto;
  position: absolute;
  top: 66%;
  left: 45%;
  cursor: pointer;
}

.phoneAtag {
  max-width: 100%;
  width: 6%;
  height: auto;
  position: absolute;
  top: 47%;
  left: 55%;
  cursor: pointer;
}

.paperAtag {
  max-width: 100%;
  width: 9%;
  height: auto;
  position: absolute;
  top: 57%;
  left: 81%;
  cursor: pointer;

  display: block;
}

.gamepadAtag {
  max-width: 100%;
  width: 5%;
  height: auto;
  position: absolute;
  top: 71.5%;
  left: 33.5%;
  cursor: pointer;
}

.myRoom img:nth-child(6) {
  max-width: 100%;
  width: 9%;
  height: auto;
  position: absolute;
  top: 42%;
  left: 61%;
}

/* 애니메이션 */
@keyframes scale {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(0.7);
  }

  100% {
    filter: brightness(1);
  }
}

@keyframes scale2 {
  0% {
    filter: brightness(0.7);
  }

  50% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(0.7);
  }
}

.notebook,
.paper,
.gamepadAtag {
  animation: scale 1.5s ease-in-out infinite;
}

.phone,
.bike {
  animation: scale2 1.5s ease-in-out infinite;
}

.myIntroduce {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.631);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
}

.myIntroduceContent {
  width: 50%;
  height: 90vh;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myIntroduceContent_xBox {
  text-align: end;
}

.xMark {
  font-size: 1.5em;

  margin: 0.5em;
  cursor: pointer;
}

.myIntroduceContent_titleBox {
  width: 100%;
}

.myIntroduceContent_titleBox > p {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  color: white;
}

.myIntroduceContent_textBox {
  width: 95%;
  height: 83%;
  margin: 0 auto;
  margin-top: 1em;
  border: 4px solid black;
}

.textTopbox {
  width: 100%;
  display: flex;
  background-color: red;
  justify-content: center;
  align-items: center;
}

.pictureBox {
  width: 20%;
  /* max-width: 20%; */
  height: 10vw;

  background-image: url(../img/favicon.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0.5em;
}

.myInfoBox {
  /* flex-grow: 1; */

  margin: 0.5em;
  margin-left: 0;
  /* display: flex; */
  /* width: 100%; */
  height: 100%;
}

.myInfoBox p {
  text-align: start;
  margin: 0.8em 0;
  font-size: 1em;
  font-weight: bold;
}

.bottomBox {
  width: 100%;
  height: 70%;
}

.bottomSkillBox {
  width: 100%;

  height: 100%;
}

/* #myBarChart {
  max-width: 1000px;
  width: 80%; 

  margin: auto; 
} */

@media all and (max-width: 1023px) {
  .pictureBox {
    width: 30%;
  }
  .myInfoBox p {
    font-size: 0.7em;
  }
}

@media all and (max-width: 767px) {
  .pictureBox {
    width: 30%;
  }
  .myInfoBox p {
    font-size: 0.4em;
  }
}
